.Button{
    cursor: pointer;
    border: none;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    white-space: nowrap;
}

.Button_default{
    background-color: #fff;
    border: 1px solid #000;
    color: black;
}

.Button_positive{
    background-color: #ffffff;
    border: 1px solid #000;
    color: #000;
}

.Button_negative{
    background-color: #fd565f;
    color: white;
}