.DiaryList .menu_wrapper{
    margin: 20px 0 30px 0;
    display: flex;
    justify-content: space-between;
}

.DiaryList .left_col select{
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ececec;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

.DiaryList .menu_wrapper .right_col{
    flex-grow: 1;
}
.DiaryList .menu_wrapper .right_col button{
    width: 100%;
}